html
  head
    title = plop
  body
    ul
      li #{user.name}
      li #{user.forname}
      li #{user.login}
      li #{user.password}
      li #{user.jour}/#{user.mois}/#{user.Année}
      li #{user.sexe}